@import "tailwindcss";
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
* {
    font-family: "Alumni Sans SC", sans-serif;
}
body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main_container {
    @apply w-full bg-white/70 md:w-10/12 md:mx-auto h-screen;
}
.btn-start {
    @apply bg-white p-5 min-w-10 w-75 rounded-2xl text-center cursor-pointer
    hover:bg-blue-400 hover:text-white transition-colors duration-200;
}
.pagination {
    @apply flex justify-center mt-8;
}

.pagination .page-item {
    @apply mx-1;
}

.pagination .page-link {
    @apply px-4 py-2 border rounded-md;
}

.pagination .active .page-link {
    @apply bg-blue-600 text-white border-blue-600;
}

.pagination .disabled .page-link {
    @apply opacity-50 cursor-not-allowed;
}
